input[type=submit] {
  display: block;
}
body {
  background-color: black;
  color: white;
}
form {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-contents: center;
}
